@model FileUploader.Models.Dt.ForgotPasswordDto

<div style="direction: rtl; padding: 20px">
    <h2>Dear, @Model.Email</h2>
    <p>To rest your password click on the Link Below</p>
    <p>
        <a href="@Model.ResetLink">Reset Password</a>
    </p>
</div>