@model FileUploader.Models.Dt.RegisterDto;
@{
  Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FilesUp-SignUp</title>
  <link rel="stylesheet" href="~/styles/style.css" />
  <link rel="stylesheet" href="~/styles/sign.css" />
</head>

<body class="flex">
  <div id="container" class="flex justify_center">
    <a id="return_home" class="flex align_center" href="index.html">Home <img src="~/svg/arrow-left.svg" alt=""></a>
    <main id="sign_form">
      <div class="flex flex_center flex_column">
        <img id="form_bg" src="~/imgs/Frame 2.png" />
        <h2>FilesUp</h2>
        <h1>SignUp</h1>
        <form asp-action="Register" method="post">
          <label for="email">Email:<br />
            <input asp-for="Email" type="email" id="email" placeholder="Enter your email..." required />
          </label>
          <label for="password">Password:<br />
            <input asp-for="Password" type="password" id="password" placeholder="Choose a password..." required />
          </label>
          <label for="cpassword">Confirm Password:<br />
            <input asp-for="ConfirmPassword" type="password" id="cpassword" placeholder="Confirm your password"
              required />
          </label>
          <div class="flex font_14">
            <input id="show_pass" type="checkbox" onclick="showPass()" />Show Password
          </div>
          <div class="flex font_14">
            <input type="checkbox" onclick="terms()" />I agree to the
            <a href="#">FilesUp Terms</a>
          </div>
          <button id="signup_submit" type="submit">submit</button>
          <span class="font_14">already have an account? <a asp-action="Login" asp-controller="Account">Login</a></span>
        </form>
      </div>
    </main>
    <div id="diagonal"></div>
    <aside id="sign_aside">
      <div class="flex flex_center flex_column">
        <img class="quote" src="~svg/quotation-mark-svgrepo-com.svg" />
        <h2>FilesUp</h2>
        <p>welcome to our file uploader platform!</p>
        <p>upload as many files as you like and get a link to share!</p>
        <p>no limits, just upload: your storage, your control!</p>
        <p>easy access: anytime, anywhere!</p>
        <img class="quote" src="~/svg/quotation-right-mark-svgrepo-com.svg" />
      </div>
    </aside>
  </div>
</body>
<script src="scripts/showPass.js"></script>

</html>


@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
}