@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FilesUp | User Not Found</title>
    <link rel="stylesheet" href="~/styles/style.css" />
    <link rel="stylesheet" href="~/styles/sign.css" />
</head>

<body class="flex">
    <div id="container" class="flex justify_center">
        <a asp-action="Login" asp-controller="Account" id="return_home" class="flex align_center">Home <img src="~/svg/arrow-left.svg" alt=""></a>
        <main id="sign_form" class="user_not_found">
            <div class="flex flex_center flex_column">
                <img id="form_bg" src="~/imgs/Frame 2.png" />
                <h2>FilesUp</h2>
                <h1>User Not Found</h1>
                <p>We're sorry, but the user you're looking for could not be found.</p>
                <p>Please check the information you've entered and try again.</p>
            </div>
        </main>
    </div>
</body>
</html>